
<!-- Navbar -->
<nav class="navbar navbar-expand-lg navbar-dark bg-success">
  <div class="container">
    <a href="/home" class="navbar-brand fw-bold link-light">
       Quick Park
    </a>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#menu">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="menu">
      <ul class="navbar-nav ms-auto">
        <li class="nav-item">
          <a class="nav-link" routerLink="/home">Accueil</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" routerLink="/parkings">Parkings</a>
        </li>

        <li class="nav-item dropdown">
           @if (userService.currentUser()){
          <a class="nav-link dropdown-toggle" 
             href="#" 
             id="navbarDropdown" 
             role="button" 
             data-bs-toggle="dropdown" 
             aria-expanded="false"> <i class="bi bi-calendar-check"></i>
            Réservation
          </a> }
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
           
            <li>
              
              <a class="dropdown-item" routerLink="/reservation/aeroport"> Aéroports </a>
               </li>
            <li>
              <a class="dropdown-item" routerLink="/reservation/centre-commercial"> Centres commerciaux </a>
            </li>
            <li>
              <a class="dropdown-item" routerLink="/reservation/carres"> Garres </a>
            </li>
          </ul>
        </li>

        <li class="nav-item">
          <a class="nav-link" routerLink="/contact">Contact</a>
        </li>

        
      </ul>
    </div>
  </div>
</nav>
<br>
<br>
<!--The body-->
<div class="container d-flex justify-content-center align-items-center min-vh-100 ">
 
    <!--form contact-->
    <div class="container d-flex justify-content-center align-items-center min-vh-100 ">
  <div class="card shadow-sm p-4 w-100" style="max-width: 450px; border-radius: 12px;">

    <div class="text-center mb-4">
        <h2 class="fw-bold text-success">Contactez Nous</h2>
        <br><br>
    </div>
        <form [formGroup]="contactForm" (ngSubmit)="onSubmit()">
         <!--Nom et Prenom-->
         <div class="mb-3">
           <label class="form-label fw-semibold small">Nom et Prénom</label>
           <input type="text" class="form-control" formControlName="nom"
           [class.is-invalid]="contactForm.get('nom') ?.touched && contactForm.get('nom')?.invalid">
           @if (contactForm.get('nom') ?.touched && contactForm.get('nom')?.invalid){
            <div class="invalid-feedback d-block">
                <small>Le nom est obligatoire</small>
            </div>
           } 
         </div>
           <div class="mb-3">
            <label class="form-label fw-semibold small">Addresse Email</label>
            <input type="email" class="form-control" formControlName="email"
            [class.is-invalid]="contactForm.get('email')?.touched && contactForm.get('email') ?.invalid">
           @if(contactForm.get('email') ?.touched && contactForm.get('email') ?.invalid){
            <div class="invalid-feedback dblock" >
               @if(contactForm.get('email')?.errors?.['required']){
              <small>Email obligatoire</small>
            }

            @if(contactForm.get('email')?.errors?.['email']){
              <small>Email invalid</small>
            }
            </div>
        }
    </div>
           <div class="mb-3">
  <label class="form-label fw-semibold small">Votre Message</label>
  <textarea class="form-control" id="messageTextarea" rows="4" formControlName="message"
  [class.is-invalid]="contactForm.get('message')?.touched && contactForm.get('message') ?.invalid"
  ></textarea>
  @if(contactForm.get('message')?.touched && contactForm.get('message') ?.invalid)
    {
     <div class="invalid-feedback ">
     <small>Ce champ est obligatoire</small>
     </div>
     }
           </div>

<div>
<button class="btn btn-success w-100" 
[disabled]="contactForm.invalid">Envoyer</button></div>
        </form>
    </div></div>